<!DOCTYPE html>
<html>
<head>
	<title>Welcome <% %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style>
		.header1{
			text-align: center;
			padding-top: 100px;
		}
		a:hover{
			text-decoration: none;
		}
		.mypost{
			width: 550px;
			padding-left: 20px;
			float: left;
		}
		.myorder{
			width: 600px;
			padding-left: 80px;
			float: left;
		}
	</style>
</head>
<body>
	<br>
	<h1 style="text-align: center; padding-top: 20px;"><strong>Hello! Admin</strong></h1>
	<div class="header1">
		<a href="/admin/user" class="btn btn-danger">All User</a> |
		<a href="/admin/post" class="btn btn-success">All Post</a> |
		<a href="/admin/order" class="btn btn-success">All Orders</a> |
		<a href="/admin/donate" class="btn btn-info">All Donate</a> |
		<a href="/admin/orderhistory" class="btn btn-primary">Order History</a> |
		<a href="/admin/request" class="btn btn-warning">Request</a> |
		<a href="/admin/addadmin" class="btn btn-info">Add Admin</a> |
		<a href="/logout" class="btn btn-danger">Logout</a>
	</div>
<br>
	
</body>
</html>